.portfolio {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    position: relative;

    .progress{
        position: sticky;
        top: 50%;
        height: 1%;
        display: flex;
        flex-direction: column;
        font-size: 36px;
        transform: rotate(270deg);
        padding-top: 100px;
        padding-bottom: 100px;

        h1{
            // transform: rotate(270deg);
            padding: 0;
            font-weight: normal;
        }

        .progressBar{
            margin-top: 5%;
            height: 4px;
            background-color: rgb(92, 179, 209);

        }
    }

}

.container {
    display: flex;
    align-items: center;
    justify-content: start;
    height: 100%;
    gap: 50px;


    img{
        height: 40%;
        object-fit: cover;
        border-radius: 10px;
    }

    .text-container{
        height: 100%;
        justify-content: center;
        text-align: justify;
        width: 40%;
        display: flex;
        flex-direction: column;
        gap: 30px;

        h2{
            font-size: 50px;
        }

        p{
            color: gray;
            font-size: 20px;
        }

        button{
            background-color: rgb(92, 179, 209);
            padding: 10px 0px 10px 0px;
            width: 130px;
            border-radius: 15px;
            border: none;
            font-weight: bold;
            color: white;
            font-size: 14px;
            cursor: pointer;
        }
        button:hover{
            background-color: white;
            color: rgb(92, 179, 209);
            transition: 0.4s;
        }

        a {
            justify-content: end;
            align-items: end;
            text-align: end;
        }

    }
}